.gallery {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: #dad5d5;
}

.gallery-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery-main-image-container {
    margin-bottom: 10px;
    height: auto;
    width: 100%;
}

.gallery-main-image {
    position: relative;
    aspect-ratio: 16/9;
    font-weight: bold;
    font-size: x-large;
    color: rgb(42, 41, 41);
}

.gallery-main-image img {
    max-height: 100%;
    max-width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

img.image-visible {
    opacity: 1;
}

.portrait {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.landscape {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery-main-image-nav-right,
.gallery-main-image-nav-left {
    position: absolute;
    top: 50%;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    background-color: #dad5d5;
    opacity: 0.5;
    color: #000;
}

.gallery-main-image-nav-left {
    left: 0;
    
}

.gallery-main-image-nav-right {
    right: 0;
}

.gallery-main-image-nav-left:hover,
.gallery-main-image-nav-right:hover {
    opacity: 1;
}

.gallery-thumbnail-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100px;
}

.gallery-thumbnail-container::-webkit-scrollbar {
    display: none;
}

.gallery-thumbnail {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: auto;
    height: 100px;
    margin-right: 5px;
    cursor: pointer;
}

.gallery-thumbnail img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}