.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: #f2f2f2;
}

.gallery-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery-main-image-container {
    margin-bottom: 30px;
}

.gallery-main-image img {
    height: 300px;
    width: 100%;
    object-fit: contain;
}

.gallery-thumbnail-container {
    background-color: #000;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 100px;
}

.gallery-thumbnail-container::-webkit-scrollbar {
    display: none;
}

.gallery-thumbnail {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: auto;
    height: 100px;
    margin-right: 5px;
    cursor: pointer;
}

.gallery-thumbnail img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}