#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  --color-player-one: #a8de7c;
  --color-player-two: #9ad3e3;
}

h2 {
  margin-top: 40px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* -------- Tic Tac Toe Style ------- */

.tictactoe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f3f2;
}

.board {
  padding: 10px 20px;
}

.board-row {
  display: flex;
  justify-content: center;
}

.square {
  height: 44px;
  width: 44px;
  margin-right: -1px;
  margin-top: -1px;
  float: left;
}

.status {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.reset {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  height: 40px;

  button {
    width: 120px;
    padding: 5px 0px;
    height: 75%;
  }

  button:hover {
    background-color: #b3b1ad;
  }
}

/* -------- Shopping List Style -------- */

.shopping-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #b798d9;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0 40px 0;
  width: 350px;
}

.list-submission {
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-submission__input {
  display: flex;
  justify-content: left;
  padding: 8px;
  border: none;
  font-size: 1.3rem;
  width: 65%;
  border-radius: 3px;
  background-color: #fff;
  color: #111;

  &:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.2);
  }
}

.list-submission__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  width: 27%;
  line-height: 46px;
  padding: 8px;
  background-color: #e7f56c;
  border: none;
  border-radius: 3px;
  font-size: 1.8rem;
  font-weight: bold;
  transition: all 200ms;

  &:hover {
    background-color: #cee317;
    font-size: 2.3rem;
  }

  span {
    line-height: 1;
    color: #4c4d4b;
  }
}

.list {
  padding: 20px 0 0 0;
  list-style-type: none;
  clear: both;
}

.list-item {
  font-size: 1.2rem;
  height: 30px;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.list-item:nth-child(odd) {
  background: #673AB7;
}

.list-item:nth-child(even) {
  background: #4527A0;
}

.list-item.list-item-checked {
  background: #D1C4E9;
  color: rgba(0, 0, 0, 0.38);
  text-decoration: line-through;
}

.list-item__delete-btn {
  cursor: pointer;
  float: left;
  padding: 5px;
  font-size: medium;
}

.list-item__check-btn {
  cursor: pointer;
  float: right;
  margin: -4px;
  padding: 4px 8px;
  color: #65e034;
}

/* -------- Memory Style -------- */

.memory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: #f0ebeb;
}

.memory-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.memory-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin: 10px 0;
      padding: 10px;
      font-size: 1.2rem;
      border-radius: 3px;
      border: none;
      width: 200px;
      text-align: center;

      &:focus {
        outline: none;
      }
    }

    input.memory-error {
      border: 1px solid red;
    }

    button {
      margin: 10px 0;
      padding: 10px 20px;
      font-size: 1.2rem;
      border-radius: 3px;
      border: none;
      background: #e7f56c;
      transition: all 200ms;

      &:hover {
        background: #cee317;
      }
    }
  }
}

.memory-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;

  .memory-player {
    font-weight: bold;
    width: 66%;
  }

  .memory-player.turn-player-one {
    background-color: var(--color-player-one);
  }

  .memory-player.turn-player-two {
    background-color: var(--color-player-two);
  }

  span {
    font-weight: bold;
    color: #e61938;
    margin: 0 5px;
  }

  button {
    margin: 15px 0;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid #111;
    background: #e7f56c;
    transition: all 200ms;

    &:hover {
      background: #cee317;
    }
  }
}

.memory-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 50%;
  padding: 10px;
  background: #f5f3f2;
}

.memory-card {
  perspective: 1000px;
  transition: all 200ms;
  aspect-ratio: 1 / 1;
  padding: 10px;
}

.memory-card-inner {
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.memory-card.flipped .memory-card-inner {
  transform: rotateY(180deg);
}

.memory-card-front, .memory-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #222;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.memory-card-front {
  z-index: 2;
  background: #d0d6d1;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.memory-card-front img {
  width: 30%;
  object-fit: cover;
}

.memory-card-back {
  transform: rotateY(180deg);
}

.memory-card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.memory-card-back img.player-one {
  background: var(--color-player-one);
}

.memory-card-back img.player-two {
  background: var(--color-player-two);
}

.matched .memory-card-back img {
  opacity: 0.5;
}