#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tictactoe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board {
  padding: 10px 20px;
}

.board-row {
  display: flex;
  justify-content: center;
}

.square {
  height: 44px;
  width: 44px;
  margin-right: -1px;
  margin-top: -1px;
  float: left;
}

.status {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.reset {
  padding: 10px 20px;
  display: flex;
  justify-content: center;

  button {
    width: 80%;
    padding: 5px 0px;
  }
  button:hover {
    background-color: #b3b1ad;
  }
}

.shopping-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dce0a8;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.list-submission {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-submission__input {
  display: flex;
  justify-content: left;
  padding: 8px;
  border: none;
  font-size: 1.3rem;
  width: 65%;
  border-radius: 3px;
}

.list-submission__btn {
  width: 25%;
  font-size: 1.3rem;
  padding: 8px;
  background: #437d38;
  border: none;
  border-radius: 3px;
  color: white;
}